:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #f5f5f5;

    .mat-icon {
        margin-right: 8px;
    }

    ::ng-deep {
        .mat-mdc-tab-group {
            .mat-tab-label {
                flex: 1;
                text-transform: uppercase;
            }

            .mat-mdc-tab-body {
                padding: 0;
            }
        }

        .mat-mdc-card-actions {
            margin-left: 0;
            margin-right: 0;
            padding: 16px;
        }

        .mat-mdc-card > .mat-mdc-card-actions:last-child {
            margin-bottom: 0;
        }
    }
}
